<html>
    <br/>
    <br/>
    <br/>
    <br/>
    
    <h1 style="color: rgb(148, 44, 44);text-align: center;">{{Artical.Title}}</h1>
    <br/>
    <h4 style="color:rgb(116, 111, 111);text-align: center;">{{Artical.Author}}</h4>
    <h4 style="text-align: center;">{{Artical.introduction}}</h4>
    <br/>
    <img class="img-fluid" src={{Artical.ImgSource}} alt="cfddd" style="min-width: 100%;">
    <br/>
    <br/>

    
    <br/>
    <br/>
    <br/>
    <br/>
    <body style="margin-left: 105px;margin-right: 105px;">
        <p style="text-align: right;line-height: 2.50; ">{{Artical.Article_body}}</p>
    </body>
    <br/>
    <h4 style="text-align: center;">{{Artical.Details}}</h4>
</html>