<style>
    #grad1 {
        height: 18px;
        background-image: linear-gradient(to top, rgba(0, 102, 255, 0), rgb(0, 110, 255));
    }
</style>
<br/><br/><br/><br/>
<div *ngIf="Pup==true">
    <label>איך את ה רוצה לבצע את השיפוץ?</label>
    <div>
    <input type="checkbox"/><h5>בעצמי!!</h5>
</div>
<div>
    <input type="checkbox"/><h5>פועל שיעשה את העבודה!!</h5>
</div>
</div>
<div *ngFor="let item of listOfCategory; let j=index "  >
        <div  (click)="checked1($event, j)" class="dddd" id="{{item}}" name="caterrro">{{item}}
</div>

</div>

<button (click)="Continue()">המשך...</button>

<button (click)="ddd()">חיחלחמ</button>
