<html>
    <div>
        <div>
            <label>משה</label>
        </div>
        <div class="FeedBake" *ngFor="let item of listFeedbake">

        </div>
    </div>
    <div>
        <div>
            <label>משה</label>
        </div>
        <div class="FeedBake" *ngFor="let item of listFeedbake">

        </div>
    </div>
    <div>
        <div>
            <label>משה</label>
        </div>
        <div class="FeedBake" *ngFor="let item of listFeedbake">
        </div>
    </div>
</html>
