h1, h2, h3, h4 {color:#FFF;}
.item{
    height:400px;
    width:100;
}

#layer{
	position: fixed;
	top: 0px;
	background-color:rgba(0,0,0,0);
	width: 100%;
    z-index:5;
}

.top-div{
    margin:0px;
	width:100%;
	height: 400px;
	background-color:rgba(255,255,255,.5);
	border: 2px solid #333;
	border-radius: 8px;
    z-index:10;
}
.ng2-custom-carousel-container {
	width: 100%;
	margin: auto;
  }

  .ng2-custom-carousel-element {
	padding: 0;
	width: 300px;
	height: 300px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size: 50px;
	line-height: 300px;
	text-align: center;

  }

.fixed-text{
	color:#000;
}
.carousel-control.left {
    z-index:7
}  
.carousel-control.right {
    z-index:7
}
@media (max-width:767px){#layer{display:none;}.layer{display:block;}}
@media (min-width:768px){#layer{display:block;}.layer{display:none;}}
