<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>


    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                    </button>
                    <a class="navbar-brand"><img src="../assets/logo.png" alt=""
                            style="width: 250px;height:60px"></a>
                </div>

                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a style="font-size: 18px;" class="nav-link" routerLink="app-user"
                                routerLinkActive="activeLink">
                                <!-- תוסיפי כאן קישור ברוטינג שיוביל על ידי לחיצה לדף הרישום -->
                                Join Us
                            </a>
                        </li>
                        <!-- 
                                כאן אמורה להיכנס פונקציה שבודקת האם המשתמש עכשיו הלוגין או שלא
                            כך שהוא מציג רק את אחד מהתגים הללו - על ידי תנאי נג-איף
                            -->
                        <li *ngIf="!userLogedIn()" class="nav-item">
                            <a style="font-size: 18px;" class="nav-link" routerLink="app-login"
                                routerLinkActive="activeLink">
                                Login
                            </a>
                        </li>
                        <li *ngIf="userLogedIn()" class="nav-item">
                            <a style="font-size: 18px;" class="nav-link"
                                routerLinkActive="activeLink">
                                Log-out
                            </a>
                        </li>
                        
                        <li *ngIf="userLogedIn()" class="nav-item">
                            <!-- כאן גם כן תוסיפי קישור לקומפוננטנה של השיפצים שלי, וגם כאן תקשרי לבדיקה שיופיע רק אם קיים - הכל דרך
                            הרוטינג והפונקציה שבודקת לוגים של משתמש
                        אצלי בדוגמא הפונקציה שבודקת היא 
                            userLogedIn()
                        -->
                            <a style="font-size: 18px;" class="nav-link" routerLink=""
                                routerLinkActive="activeLink">
                                השיפוצים שלי
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </nav>
        <!-- Navbar End -->
    </header>





    <div class="toolbar" role="banner">
        <!--<button *ngIf="visible==true" (click)="Gouser()">fffff</button>-->
       
    </div>




</body>

</html>
<router-outlet></router-outlet>